%h1 Listing employers

%table
  %tr
    %th Name
    %th Department
    %th
    %th
    %th

  - @employers.each do |employer|
    %tr
      %td= employer.name
      %td= employer.department
      %td= link_to 'Show', employer
      %td= link_to 'Edit', edit_employer_path(employer)
      %td= link_to 'Destroy', employer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Employer', new_employer_path
|
= link_to 'Home Page', root_path
